BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 4

# MLIR uses this for long template/function arg lists
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false

# Keep MLIR-style namespace comments: } // namespace mlir
FixNamespaceComments: true
NamespaceIndentation: None