CompileFlags:
  Add:
    -I/nix/store/a46bnd94b1zmqdnx3dzjyrmacvvpwdnd-mlir-21.1.8-dev/include
    -I/nix/store/v4va7gllsi2rk5lashq0kjm3sj5vpifm-llvm-21.1.8-dev/include
    -std=c++20

Index:
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes

CompileFlags:
  Add: [...]

PathMappings:
  - Local: /store/Programming/c++/mj
    Remote: /home/doyougnu/programming/c++/mj
